/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
	 transition: transform 600ms linear;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado {
	animation: piscando .5s ease-in-out 0s infinite alternate;
}

@keyframes piscando {
  from { opacity: 1;     }
  to   { opacity: 0.25; }
}

.alimentado {
	animation: girando 1s linear 0s infinite; 
}

@keyframes girando {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.alimentado img {
	border: 10px solid green;
}

.perturbado {
	animation: pulsando 0.1s linear 0s infinite alternate;
}

@keyframes pulsando {
	from { transform: scale(1);}
	to { transform: scale(1.25);}
}

.instinto-selvagem {
	animation: saltando 1s linear 0s infinite;
}

@keyframes saltando {
	from { 
		transform: scale(1);
	}
	to { 
		transform: scale(1.5);
	}
}

.instinto-selvagem img {
	border: 10px solid red;
}

/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

.comecar,
.parar {}

.comecar {}

.parar {}
